body {
    margin:  0;
    color: #B0B7C3;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'Dancing Script Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Dancing Script Regular'), url('DancingScript-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: normal;
    src: local('Dancing Script Bold'), url('DancingScript-Bold.woff') format('woff');
}

/* Global  */
h1, h2, h3, h4, h5 {
    color: black;
    font-weight: 600;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 14px;
}

small, .small-font {
    font-size: 12px;
}

.text-main-color {
    color: #B0B7C3!important;
}
.no-color {
    color: unset!important;
}

.btn {
    padding: 12px 30px;
    border-radius: 15px;
    font-size: 16px;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    border-radius: 8px;
}

.btn-secondary {
    background-color: #FAFBFC;
    color: #B0B7C3;
    border-color: #FAFBFC;
}

.form-control, .form-select {
    padding: 12px 18px;
    border-radius: 15px;
    color: unset;
}

.form-select {
    color: black;
}

.form-control:focus, .form-select:focus {
    box-shadow: unset;
}

.colored-control {
    background-color: #FAFBFC;
    border-radius: 15px;
}

.form-control::placeholder {
    color: unset;
}

.form-control:focus::placeholder {
  color: gray;
}

.form-control.form-control-sm {
    padding: 6px 0.5rem;
    border-radius: 8px;
}

.input-group-text {
    border-radius: 15px;
    background-color: unset;
    border-right: none;
    color: unset;
}

.input-group-text i {
    font-size: 18px;
}

/*.input-group>.form-control {
    border-left: none;
    padding-left: 0px;
    border-radius: 0 15px 15px 0!important;
}*/

.form-check .form-check-input {
    font-size: 18px;
}
.form-check-label {
    font-size: 16px;
}

.separator {
    border-top: 1px solid #FAFBFC;
    text-align: center;
    position: relative;
}
.separator span {
    position: absolute;
    top: -24px;
    left: calc(50% - 24px);
    background: white;
    padding: 10px;
}

.modal-header {
    padding: 24px 40px 16px 40px
}
.modal-body {
    padding: 28px 40px;
}
.modal-content {
    border-radius: 15px;
}

hr {
    background-color: #FAFBFC;
    opacity: 1;
}

/* Pagenation */
.page-link {
    margin-right: 8px;
    border-radius: 8px;
}
.page-item:last-child .page-link {
    border-radius: 8px;
}
.page-item:first-child .page-link {
    border-radius: 8px;
}

.page-link a {
    color: black;
}

/*  Pages */
.navbar-wrapper {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
    top: 0px;
}

.brand-logo {
    width: 182px;
    height: auto;
}

.navbar-wrapper .search-box-wrapper {
    min-width: 400px;
}

.avatar-menu-img {
    height: 50px;
    width: auto;
}

.main-section {
    background-color: #FAFBFC;
    padding-top: 122px;
    padding-bottom: 30px;
    min-height: 100vh;
}

.idea-item {
    border: 1px solid #F1F1F1;
    border-radius: 16px;
    margin-bottom: 16px;
    padding: 32px 40px;
    background-color: white;
/*    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
}
.idea-item .idea-content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.idea-item .idea-detail {
    margin-top: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.idea-item .avatar-user-img, .comment-item .avatar-user-img {
    width: 36px;
    height: auto;
    border-radius: 50%;
}

.idea-item .idea-footer {
    display: flex;
}

.idea-item .avatar-user-img.small-avatar {
    width: 30px;
}

.idea-item .idea-action-btns a {
    text-decoration: none;
}

.idea-item .idea-action-btns i {
    font-size: 18px;
}


/* Show post page */
.post-show-header a, .post-show-header i {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.comments {
    overflow: hidden;
}

.post-show-page .comment-item {
    background-color: #FAFBFC;
/*    margin-bottom: 16px;*/
    padding: 16px;
    color: #636E95;
    z-index: 1;
    position: relative;
    border-bottom: 1px solid white;
    overflow: hidden;
}
.post-show-page .comment-item .comment-reply-btn {
    text-decoration: none;
}

.post-show-page .comment-item .comment-reply-btn i {
    font-size: 20px;
}

.comment-item .sub-comment-item {
    padding-left: 65px;
    margin-top: 24px;
    position: relative;
}

.comment-item.exist-sub-comment:before {
    content: " ";
    display: block;
    height: calc(100% - 85px);
    border-right: 2px solid #eee;
    position: absolute;
    left: 35px;
    top: 70px;
    z-index: 0;
}

.pagination li a {
    text-decoration: none;
}